/*

Color Palete: Chocoloate Citrus https://kuler.adobe.com/Chocolate-Citrus-color-theme-3132778/
#B3BF56 #FDD820 #F0F2F0 #F2E49B #59473C
But #FFFFFFis used instead of #F0F2F0 because of the logo
/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #59473C;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #59473C;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #59473C;
	text-decoration: none;
}





/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto;
	background-color: rgba(0,0,0,0.8);
	z-index:100;
}
#logo {
	text-align: center;
	margin: 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: bolder;
}
#logo img {
	display: block;
	float: left;
	height: 15%;
	width: 15%;
}
#nav {
	font-weight: bold;
	color: #FDD820;
	text-align: right;
	margin: 10px 0 10px 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation .pull-left {
	float: left;
}
.navigation li{
	float: left;
	padding:0 0 0 20px;
}
.navigation li:hover{
	cursor:pointer;
	color: #B3BF56;
}

.navigation .active{
	cursor:pointer;
	font-weight:bolder;
	color: #FFFFFF;
}




/* General Slides */ 

.slide{
	width:100%;
	height:auto;
	position: relative;
	/** menu is 30px tall. Giving an additional padding of 5px - hence 35px */
	padding: 35px 0 600px;
}



/* Slide 1 */ 

#slide1{
	background-color:#FFFFFF;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#59473C;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #59473C;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slider img {
	float: right;
}

#slider p {
	text-align: justify;
	margin: 0px;
	padding-right: 15px;
}
/* Slide 2 */ 

#slide2{
	background-color:#59473C;
	color:#ffffff;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 3 */ 

#slide3{
	background-color:#FFFFFF;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#59473C;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #59473C;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */

#slide4{
	background-color:#59473C;
	color:#ffffff;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 5 */

#slide5{
	background-color:#FFFFFF;
}
#slide5 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#59473C;
	font-weight: 700;
}
#slide5 h2 {
	font-size: 2em;
	color: #59473C;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}



/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}
#slide5 h1 {
	line-height: 1em;
}
#slide5 h2 {
	line-height: 1em;
}
}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}
#slide5 h1 {
	line-height: 1em;
}
#slide5 h2 {
	line-height: 1em;
}


}




